  .main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 800px;*/
    /* width: 100vw; */
}


.hero-section {
    font-family: Montserrat;
    height: 600px;
    /*border: 3px solid var(--dark-grey);
    border-radius: 1000px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 30%;
    /* width: 53%; */
    margin: 3em;
    text-align: center;
    font-family: 'Cormorant SC';
    color: var(--main-black);
    padding-top: 100px;
}

#hero-title {
    font-size: 2em;
}

.flower {
    width: 100%;
}

.rsvp {
    border: 1px solid var(--main-rust);
    border-radius: 20px;
    padding: 0.5em;
    text-decoration: none;
    color: var(--main-rust);
    margin-top: 1em;
}

.rsvp:hover, .rsvp:active {
    cursor: pointer;
    background-color: var(--main-rust);
    color: var(--main-cream);
}

.the-wedding-section {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
                    "title title title"
                    "when empty where"
                    "button button button"
                    "reception reception reception";
    text-align: center;
    justify-content: center;
    gap: 1em;
    margin: 20%;
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: 'Ibarra Real Nova';
    color: var(--main-black);
}
#wedding-title {
    grid-area: title;
    align-self: center;
}
#when {
    grid-area: when;
}
#where {
    grid-area: where;
}
#reception {
    grid-area: reception;
}
#wedding-title, #when, #where, #reception {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
}
.the-wedding-section h2, .the-wedding-section h3 {
    width: fit-content;
    border-bottom: 1px solid var(--main-rust);
}
@media only screen and (max-width: 500px) {
    .the-wedding-section {
        display: none;
    } 
}

@media only screen and (min-width: 700px) {
    .main-div {
        height: 1700px;
    }
    .hero-section {
        margin-top: 0;
        padding-top: 350px;
    }
    #hero-title {
        font-size: 3.5em;
    }
    .hero-section h3 {
        font-size: 1.5em;
    }
    .hero-section h2 {
        margin: 1em;
    }
    .flower {
        width: 500px;
    }
    .the-wedding-section {
        margin: 10% 15%;
        grid-template-columns: 1fr;
        grid-template-areas: 
                        "title"
                        "when"
                        "where"
                        "reception";
        justify-content: center;
    }
}