.main-div {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.hero-section {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 53%;
    width: 53%;
    border: 3px solid var(--dark-grey);
    border-radius: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20%;
    padding: 3em;
}

.flower {
    width: 50%;
}

.the-wedding-section {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: repeat(4 1fr);
    grid-template-areas: 
                    "title title title"
                    "when empty where"
                    "button button button"
                    "reception reception reception";
    text-align: center;
    gap: 1em;
    margin: 20%;
    font-size: 1.5em;
    line-height: 1.5em;
}
#wedding-title {
    grid-area: title;
    align-self: center;
}
#when {
    grid-area: when;
}
#where {
    grid-area: where;
}
#reception {
    grid-area: reception;
}