.main-div {
    background-image: url('../images/CreamArch.1.png');
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    width: 100vw;
}

.our-story-section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px repeat(4, auto);
    grid-template-areas:
                    "title"
                    "image"
                    "story"
                    "story"
                    "story";
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
    color: var(--main-black);
    font-family: 'Ibarra Real Nova';
    text-align: center;
}

#our-story-title {
    grid-area: title;
    font-size: 1.5em;
    text-align: center;
    margin: 1em;
}
.hero-image {
    grid-area: image;
    align-self: center;
    width: 180px;
    height: 180px;
    border: 20px solid white;
    border-bottom: 60px solid white;
    
}
figcaption {
    margin-top: -60px;
    margin-left: 20px;
    margin-bottom: 65px;
    line-height: 1em;
    font-size: 0.7em;
}
#our-story-paragraph {
    margin: 0 auto;
    grid-area: story;
    align-self: center;
    width: 80%;
    font-size: 1.2em;
    line-height: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flower {
    display: none;
    margin: 0 auto;
}

@media only screen and (min-width: 800px) {
    .our-story-section {
        height: 100px;
    }
    #our-story-title {
        font-size: 3em;
        margin: 20px;
    }
    .main-div {
        padding-top: 100px;
        height: 1700px;
    }
    figure {
        margin: 20px;
    }
    .hero-image {
        width: 500px;
        height: 500px;
    }
    .flower {
        display: block;
        width: 70%;
        margin-top: 50px;
    }
}