:root {
    --main-rust: #873F2A;
    --main-cream: #EEE2D2;
    --light-rust: #B94310;
    --light-grey: #807E7C;
    --dark-grey: #555656;
    --main-black: #312d2b;
}

* {
   margin: 0;
   padding: 0; 
   letter-spacing: 0.3em;
   /*border: 1px solid grey;*/
}

.nav-drop-down {
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.navbar-full {
    position: absolute;
    width: 100%;
    height: 470px;
    font-family: 'Cormorant SC';
    grid-template-columns: 100%;
    top: -550px;
}

.navbar-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav-link-badge {
    font-size: 2em;
    border-bottom: 1px solid var(--main-cream);
}

.nav-link {
    color: var(--main-cream);
    text-decoration: none;
    letter-spacing: 0.4em;
    text-align: center;
    margin: 1em;
}

.nav-link:hover {
    border-bottom: 1px solid var(--main-cream)
}

.nav-link-active {
    border-bottom: 1px solid var(--main-cream)
}

@keyFrames slideIn {
    from {
        top: -500px;
    }
    to {
        top: 0;
    }
}

@keyframes slideOut {
    from {
        top: 0px;
    }
    to {
        top: -500px;
    }
}

.slide-in {
    animation: slideIn;
    animation-duration: 3s;
}

.slide-out {
    animation: slideOut;
    animation-duration: 3s;
}
#navMenu {
    z-index: 100;
    margin: 20px 15px;
}
#navMenu > span {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 9999px;
    background-color: var(--main-cream);
}
#navMenu > span:not(:last-child) {
    margin-bottom: 7px;
}
#navMenu, #navMenu > span {
    transition: all .2s linear;
}
#navMenu.active {
    transition-delay: 0.3s;
    transform: rotate(45deg);
}
#navMenu.active > span:nth-child(2) {
    width: 0;
}
#navMenu.active > span:nth-child(1), 
#navMenu.active > span:nth-child(3) {
    transition-delay: .2s;
}
#navMenu.active > span:nth-child(1) {
    transform: translateY(10px);
}
#navMenu.active > span:nth-child(3) {
    transform: translateY(-10px) rotate(90deg);
}

.main-container {
    background-image: url('../images/RustTexture.1.png');
    background-size: cover;
    background-color: var(--main-rust);
    width: 100%;
    height: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.main-div {
    background-image: url('../images/CreamArch.2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 90%; */
    /* height: 900px;  */
    align-self: center;
    /* padding-top: 50px; */
    max-width: 800px;
    margin: 20px 0 ;
}

@media only screen and (min-width: 400px) {
    .main-div {
        /* padding-top: 200px; */
    }
}

@media only screen and (min-width: 800px) {
    .navbar-full {
        height: 50px;
        top: 0;
    }
    .navbar-ul {
        flex-direction: row;
        height: 50px;
    }
    .nav-close-button {
        display: none;
    }
    .nav-link-badge {
        display: none;
    }
    #navMenu {
        display: none;
    }
}